

<div class="navigation">
  <a href="/list">See Latest Squawks</a>
  <a href="/logout">Log Out</a>

  <h1>SQUAWKER</h1>

  <h2 class ="user">Welcome Back: -{{handle}}-</h2>
</div>

<div class="create_box">

<form class="" action="/squawk" method="post">
  <textarea class ="tarea" name="messages" rows="8" cols="80" placeholder="Squawk about it!
keep it under 140 characters please."></textarea><br>
  <button type="submit" name="button">Squawk</button>
</form>
</div>
