<div class="main_box">


  <div class="log_box">
      <h1>Welcome Back!</h1>
      <h3>Please Sign In</h3>
    <form class="login" action="/login" method="post"><br>
      <input type="email" name="username" placeholder="email"><br>
      <input type="text" name="password" placeholder="password">
    </form>
  </div>

  <div class="sign_box">
    <h1>New To Squawker?</h1>
    <h3>Create A Profile</h3>
    <form class="signup" action="signup" method="post">
      <input type="email" name="username" placeholder="email"><br>
      <input type="text" name="handle" placeholder="squawker handle"><br>
      <input type="text" name="password" placeholder="password"><br>
      <input type="text" name="confirm_password" placeholder="confirm password">
    </form>
  </div>

</div>
